<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-ADO_database_project.UI-20151102113531.mdf;Initial Catalog=aspnet-ADO_database_project.UI-20151102113531;Integrated Security=True"
      providerName="System.Data.SqlClient" /> -->
    <add name="DVDLibrary"
           connectionString="Server=MS-STDN-013\SQL2014;User Id=sa;Password=sqlserver;Database=DVDLibrary;"/>
  </connectionStrings>
</configuration>