
@{
    ViewBag.Title = "About";
}

<div class="no-container">
    <div id="About-Banner-Parralax">
        <h1 class="banner-h1">About</h1>
    </div>
</div>

<div class="no-container">
    <div id="About-paragraph" class="col-md-4">
        <h3 class="alt-h3 padding-top-20">The Timothy Kim DVD Library has a century long history of serving the community. The original library was built on its current site with funds donated by Franklin Sylvester and opened in 1907. As the community grew, expansions were completed in 1958, 1976 and 2008.</h3>
    </div>
    
        <div id="About-img" class="col-md-8">
            <div class="overlay">
            </div>
    </div>
</div>


<div class="no-container">
    <div class="row">
        <div class="col-xs-12">
            <div class="red-banner">

                <h4 class="box-link"><a href="#">Our Policies</a></h4>
            </div>
        </div>
    </div>
</div>

<div id="Contact-Info" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Contact & Hours</h2>
        </div>
    </div>
    <div class="row padding-top-40">
        <div class="col-sm-offset-2 col-sm-4">
            <span id="Contact-glyph" class="glyphicon glyphicon-user padding-left-50 hidden-xs hidden-md"></span>
            <br/>
            <div class="margin-left-10">
                <p>
                    <span class="glyphicon glyphicon-phone-alt"></span> 555-XXX-5555
                </p>
                <p>
                    <span class="glyphicon glyphicon-envelope"></span> timothykimdvdlibary
                </p>
                <span> Address: </span>
                <p><span class="glyphicon glyphicon-map-marker"></span><span>526 S Main St #609, Akron, OH 44311</span></p>
            </div>
        </div>
        <div class="col-sm-4">
            <span id="Hours-glyph" class="glyphicon glyphicon-time padding-left-50 hidden-xs hidden-md"></span>
            <br/>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Day</th>
                        <th>Hours</th>


                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Monday</td>
                        <td>8:30am-6:00pm</td>

                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>8:30am-6:00pm</td>

                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td>8:30am-6:00pm</td>

                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td>8:30am-6:00pm</td>

                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td>8:30am-6:00pm</td>

                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td>10:00am-6:00pm</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



