@model DVDLibrary.Models.MovieInfo

@{
    ViewBag.Title = "ConfirmDelete";
}

<h2 class="padding-top-40">@Model.Title has been Deleted</h2>

@using (Html.BeginForm("Index", "Home", null, FormMethod.Post))
            {
    <button id="cancel" class="btn btn-primary">Back</button>
}